@{
    ViewData["Title"] = "Create new graph";
}
<head>
    <link rel="stylesheet" href="~/css/graphPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/graph.css" asp-append-version="true" />
    <script src="~/js/d3.v7.js"></script>
    <script type="module" src="~/js/graphWorker.js"></script>
</head>

<div class="general-container">
    <div class="graph-container">
        <svg id="graph">

        </svg>
    </div>
    <div class="func-container">
        <button id="cancel_button" class="func-button" onclick="cancel_button()" disabled>Cancel</button>
        <button class="func-button" onclick="clear_result()">Clear results</button>
        <div class="func-subtitle">Graph control</div>
        <button class="func-button" onclick="add_vertex()">Add vertex</button>
        <button class="func-button" onclick="add_connection(this)">Add connection</button>
        <button class="func-button" onclick="remove_vertex(this)">Remove vertex</button>
        <button class="func-button" onclick="remove_connection(this)">Remove connection</button>
        <button class="func-button" onclick="clear_graph()">Clear graph</button>
        <button class="func-button" onclick="" style="display:none">Save</button>
        <div class="func-subtitle">Graph info</div>
        <button class="func-button" onclick="adjacency_matrix_info()">Adjacency matrix</button>
        <button class="func-button" onclick="incidence_matrix_info()">Incidence matrix</button>
        <button class="func-button" onclick="weighted_matrix_info()">Weighted matrix</button>
        <button class="func-button" onclick="adjacency_lists_info()">Adjacency lists</button>
        <button class="func-button" onclick="edges_list_info()">Edges list</button>
        <div class="func-subtitle">Shortest path algorithms</div>
        <button class="func-button" onclick="dijkstra(this)">Dijkstra's algorithm</button>
        <button class="func-button" onclick="floyd()">Floyd's algorithm</button>
        <div class="func-subtitle">Search methods</div>
        <button class="func-button" onclick="depth_first_search(this)">Depth-first search</button>
        <button class="func-button" onclick="breadth_first_search(this)">Breadth-first search</button>
    </div>
</div>
<div class="status" id="status">
    <p><b>Welcome!</b></p>
</div>
