@{
    ViewData["Title"] = "Graph";
}
<head>
    <link rel="stylesheet" href="~/css/graphPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/graph.css" asp-append-version="true" />
    <script src="~/js/d3.v7.js"></script>
</head>

<div class="general-container">
    <div class="graph-container">
        <svg id="graph">

        </svg>
    </div>
    <div class="func-container">
        <button id="cancel_button" class="func-button" onclick="cancel_button()">Cancel</button>
        <div class="func-subtitle">Graph</div>
        <button class="func-button" onclick="add_vertice()">Add vertex</button>
        <button class="func-button" onclick="add_connection(this)">Add connection</button>
        <button class="func-button" onclick="" style="background-color:red">Remove vertex</button>
        <button class="func-button" onclick="" style="background-color:red">Remove connection</button>
        <button class="func-button" onclick="">Adjacency matrix</button>
        <button class="func-button" onclick="" style="background-color:red">Clear graph</button>
        <button class="func-button" onclick="" style="background-color:red">Save</button>
        <div class="func-subtitle">Shortest path algorithms</div>
        <button class="func-button" onclick="">Dijkstra's algorithm</button>
        <button class="func-button" onclick="">Floyd's algorithm</button>
        <div class="func-subtitle">Search methods</div>
        <button class="func-button" onclick="">Depth-first search</button>
        <button class="func-button" onclick="">Breadth-first search</button>
    </div>
</div>
<script src="~/js/graph.js"></script>
<script src="~/js/methods.js"></script>
